name: Build Readme

on:
  push:
    tags: [ '*' ]

jobs:

  build:
    name: Build
    runs-on: ubuntu-latest
    permissions:
      # Give the default GITHUB_TOKEN write permission to commit and push the
      # added or changed files to the repository.
      contents: write
    steps:

    - uses: actions/checkout@v3

    - name: Use Node.js 22
      uses: actions/setup-node@v4
      with:
        node-version: '22'

    - name: build readme
      run:
        npm install
        npm run build-docs
    - name: auto-commit
      uses: stefanzweifel/git-auto-commit-action@v4
      with:
        commit_message: 'build readme file'