name: Coverage Status

on:
  push:
    branches:
      - '**'

jobs:
  coverage:
    name: Coverage
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js 22
        uses: actions/setup-node@v4
        with:
          node-version: '22'
      - name: Install dependencies
        run: npm i

      - name: Run coverage
        run: npm run test:coverage
       
        